* {
    margin: 0px;
    padding: 0px;
}
.navbar-nav{
  
  font-weight: bold;
}

.top-right {
    position: absolute;
    background-color: rgb(255, 254, 253);
    top: 150px;
    right: 70px;
    width: 40%;
    height: 300px;
  }
  .text{
    padding: 20px;
    margin: 20px;
  }
  header{
    
    top: 0;
    position: sticky;
    z-index: 1;
    
  }
  footer {
    text-align: center;
    margin-top: 30px;
    justify-content: flex-end;
  width: 100%;
  height: 70px;
    background-color: rgb(59, 90, 92);
    bottom: 0;
    position: fixed;
  }
  .row{
   
    
    margin-top: 5px;
  }
  a{
    
    font-weight: bold;
  }
  h1{
    text-align: center;
    
  }
  .itop{
position: absolute;
left: 130px;
top: 640px;
background-color: darkgoldenrod;
  }
  .itopc{
    position: absolute;
    left: 520px;
    top: 640px;
    background-color: darkgoldenrod;
      }
      .itopr{
        position: absolute;
        left: 910px;
        top: 640px;
        background-color: darkgoldenrod;
          }